/* You can add global styles to this file, and also import other style files */

@import '~ng-busy/src/style/busy.css';

.jumbotron {
    height: 100%;
}

.clickable {
    cursor: pointer !important;
}

.task-modal-content {
    label {
        font-weight: bold;
    }
}

button:focus {
    outline: 0 !important;
}

.mat-card-header-text{
    width: 100% !important;
}

.task-item {
    width: 100% !important;
}

.task-action {
    min-height: 40px;
    min-width: 40px;
}

.mat-checkbox-inner-container {
    width: 25px !important;
    height: 25px !important;
}

.mat-icon-button .mat-icon, .mat-icon-button i {
    margin-bottom: 16px;
}

.mat-snack-bar-container {
    max-width: 66vw !important;
    overflow: hidden;
    white-space: nowrap;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
