<div>
    <span class="col-sm-1 task-action">
        <button mat-icon-button class="animated fadeIn" *ngIf="editMode && !task.completed" (click)="onEdit(task)">
            <mat-icon>edit</mat-icon>
        </button>
        <mat-checkbox class="animated fadeIn" *ngIf="!editMode" [(ngModel)]="task.completed" (change)="onCheck(task)"></mat-checkbox>
    </span>
    
    <span [ngClass]="{'completed': task.completed}" class="col-sm-10">
        <span class="col-sm-1 badge badge-pill {{priorityOption.className}}">{{priorityOption.name}}</span>
        <span class="col-sm-10 ml-5">{{task.title}}</span>
    </span>

    <span>
        <button mat-icon-button color="warn" class="col-sm-1 pull-right animated fadeIn" *ngIf="editMode" (click)="onDelete(task)">
            <mat-icon>delete</mat-icon>
        </button>
    </span>
</div>